.principalCard {
    border: 1px solid #ccc;
    border-radius: 16px; 
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100%; 
    height: 100%;
    margin: 0 auto; 

    &:hover {
        transform: translateY(-2px);
    }

    .card-image-container {
        position: relative; 
        width: 100%; 
        height: 70%; 

        .card-image {
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
            border-radius: 16px; 
        }

        .card-text {
            position: absolute; 
            top: 20%; 
            left: 10%; 
            transform: translate(0, 0); 
            font-size: 2rem;
            color: white; 
            text-align: left; 
            background-color: rgba(0, 0, 0, 0.5); 
            padding: 10px; 
            border-radius: 8px; 
        }

        .card-link {
            position: absolute; 
            top: 60%; 
            left: 20%; 
            transform: translate(0, 0); 
            text-align: left; 
            color: white; 

        
            .link-container {
                background-color: white; // Color de fondo blanco
                padding: 15px 30px; // Aumenta el espaciado interno (padding)
                 // Bordes redondeados
                transition: background-color 0.3s, transform 0.3s; // Transiciones para el efecto
                font-size: 1.2rem; // Aumenta el tamaño de la fuente
        
                a {
                    color: black; // Color del texto del enlace
                    text-decoration: none; // Sin subrayado en el enlace
                }
        
                &:hover {
                     // Efecto de hover: color de fondo gris claro
                    transform: scale(1.05); // Efecto de aumento al pasar el ratón
                }
            }
        }
    }

    // Estilo para el enlace al final de la tarjeta

}

// Estilos adicionales para centrar la tarjeta en Home
.home-container {
    display: flex;
    justify-content: center; // Centra horizontalmente
    align-items: center; // Centra verticalmente
    height: 100vh; // Hace que la altura sea el 100% de la ventana
}

.card-wrapper {
    display: flex;
    justify-content: center; // Centra la tarjeta
}
